@import 'common/main.styl';
@import 'common/icon.styl';
@import 'common/tabs.styl';
@import 'common/items.styl';
@import 'common/fields.styl';

.user-name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px;
    background: url(../img/color-triangles-contrast-bg.jpg);
    box-shadow: inset 0 -50px 70px #fff;
    background-size: cover;
    background-position-y: -20%;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 80px;
    animation: show-top-background 2s;
    animation-fill-mode: forwards;

    @keyframes show-top-background {
        0%   { background-position-y: -20%;  }
        100% { background-position-y: 50%; }
    }

    span {
        font-size: 22px;
        font-weight: 600;
        flex-grow: 1;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    a {
        font-size: 0;
        box-shadow: 0 1px 2px #3344; 
        border-radius: 4px;
        white-space: nowrap;
        background: #fff;
    }

    .icon {
        width: 40px;
        height: 40px;
        padding: 9px;
        color: #778;
    }

    .icon-angle-left {
        width: 30px;
        margin-right: -15px;
    }
}

.tabs {
    height: calc(100% - 80px);
}

.user-penality {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 20px;
    position: relative;
    margin: 0 5px 0 20px;

    &[data-level="0"] { background: #3d6; }
    &[data-level="1"] { background: #fd0; }
    &[data-level="2"] { background: #f80; }
    &[data-level="3"] { background: #e11; }
    &[data-level="4"] { background: #e11;

        &::before{ 
            content: '×';
            color: rgba(100,0,0,.5);
            width: 100%;
            height: 100%;
            line-height: 18px;
            display: inline-block;
            text-align: center;
            font-size: 23px;
            font-weight: 900;
        }
    }
}