

.item-group {

    .field-title small {
        color: #1c4093;
    }
    
    &[data-itemsgroup] { order: 9; }
    &[data-itemsgroup="exp"] { order: 1; }
    &[data-itemsgroup="attack_damage"] { order: 2; }    
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &[data-rarityicon="⬜️"] { order: 6; }
    &[data-rarityicon="🟩"] { order: 5; }
    &[data-rarityicon="🟦"] { order: 4; }
    &[data-rarityicon="🟪"] { order: 3; }
    &[data-rarityicon="🟧"] { order: 2; }
    &[data-rarityicon="🟥"] { order: 1; }
    &[data-rarityicon="🔲"] { order: 7; }

    > div {
        display: flex;
        align-items: center;
    }

    .item-rarity {
        margin-right: 4px;
        line-height: 12px;

        &::before {
            content: '';
            display: inline-block;
            width: 15px;
            min-width: 15px;
            height: 15px;
            margin-right: 4px;
            border-radius: 3px;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
        }

        &[data-rarityicon="⬜️"]::before { background: #dddddd; }
        &[data-rarityicon="🟩"]::before { background: #16c60c; }
        &[data-rarityicon="🟦"]::before { background: #0078d7; }
        &[data-rarityicon="🟪"]::before { background: #886ce4; }
        &[data-rarityicon="🟧"]::before { background: #f7630c; }
        &[data-rarityicon="🟥"]::before { background: #e81224; }
        &[data-rarityicon="🔲"]::before { background: #dddddd;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 0 0 3px #ddd, inset 0 0 0 5px #556;
        }
    }
    .item-name {}
    .item-buff {
        color: #445;
        font-size: 15px; 
        font-family: Oxanium;
        margin-top: 2px;

        small {
            font-size: 12px;
            white-space: nowrap;
            display: contents;
        }
    }
    .item-quantity {
        background: #99a;
        color: #fff;
        font-size: 12px;
        padding: 2px 3px;
        line-height: 12px;
        display: inline-block;
        height: 16px;
        border-radius: 3px;
        margin-left: 4px;
    }
    .item-timeouticon {
        .icon {
            width: 15px;
            height: 15px;
            vertical-align: sub;
            margin: 0 2px 0 5px;
            color: #b34b4b;
        }
    }
    .item-timeoutduration {
        display: flex;
        color: #b34b4b;
        font-size: 13px; 
        font-family: Oxanium;
        margin-top: 2px;
    }
}