*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}
html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #334;
  overflow: hidden;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}
.icon {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.tabs {
  height: 100%;
  padding-bottom: 40px;
  opacity: 0;
  animation: show-tabs 1s 0.5s;
  animation-fill-mode: forwards;
}
@-moz-keyframes show-tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show-tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tab-page {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
.tab-page.active {
  display: block;
}
.tab-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.tab-button {
  position: relative;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #667;
  font-size: 14px;
  font-weight: 600;
  padding: 0 25px;
  background: #f5f5f5;
  box-shadow: 0 1px #ddd inset;
}
.tab-button:not(.active):not(:last-child)::before {
  content: '';
  position: absolute;
  top: 20%;
  right: 0;
  width: 1px;
  height: 60%;
  display: inline-block;
  background: #ddd;
}
.tab-button.active {
  color: #000;
  background: #fff;
  box-shadow: 1px 0 #ddd, -1px 0 #ddd;
  z-index: 10;
}
.item-group .field-title small {
  color: #1c4093;
}
.item-group[data-itemsgroup] {
  order: 9;
}
.item-group[data-itemsgroup="exp"] {
  order: 1;
}
.item-group[data-itemsgroup="attack_damage"] {
  order: 2;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item[data-rarityicon="拘럺잺"] {
  order: 6;
}
.item[data-rarityicon="游릴"] {
  order: 5;
}
.item[data-rarityicon="游릱"] {
  order: 4;
}
.item[data-rarityicon="游릵"] {
  order: 3;
}
.item[data-rarityicon="游릲"] {
  order: 2;
}
.item[data-rarityicon="游린"] {
  order: 1;
}
.item[data-rarityicon="游"] {
  order: 7;
}
.item > div {
  display: flex;
  align-items: center;
}
.item .item-rarity {
  margin-right: 4px;
  line-height: 12px;
}
.item .item-rarity::before {
  content: '';
  display: inline-block;
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin-right: 4px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
}
.item .item-rarity[data-rarityicon="拘럺잺"]::before {
  background: #ddd;
}
.item .item-rarity[data-rarityicon="游릴"]::before {
  background: #16c60c;
}
.item .item-rarity[data-rarityicon="游릱"]::before {
  background: #0078d7;
}
.item .item-rarity[data-rarityicon="游릵"]::before {
  background: #886ce4;
}
.item .item-rarity[data-rarityicon="游릲"]::before {
  background: #f7630c;
}
.item .item-rarity[data-rarityicon="游린"]::before {
  background: #e81224;
}
.item .item-rarity[data-rarityicon="游"]::before {
  background: #ddd;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 0 0 3px #ddd, inset 0 0 0 5px #556;
}
.item .item-buff {
  color: #445;
  font-size: 15px;
  font-family: Oxanium;
  margin-top: 2px;
}
.item .item-buff small {
  font-size: 12px;
  white-space: nowrap;
  display: contents;
}
.item .item-quantity {
  background: #99a;
  color: #fff;
  font-size: 12px;
  padding: 2px 3px;
  line-height: 12px;
  display: inline-block;
  height: 16px;
  border-radius: 3px;
  margin-left: 4px;
}
.item .item-timeouticon .icon {
  width: 15px;
  height: 15px;
  vertical-align: sub;
  margin: 0 2px 0 5px;
  color: #b34b4b;
}
.item .item-timeoutduration {
  display: flex;
  color: #b34b4b;
  font-size: 13px;
  font-family: Oxanium;
  margin-top: 2px;
}
.fields {
  display: flex;
  flex-wrap: wrap;
}
.field {
  width: 100%;
  margin-top: 15px;
  color: #334;
}
.field:first-child {
  margin-top: 0;
}
.field.half {
  width: 50%;
}
.field-separator {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.field-separator + .field-separator {
  display: none;
}
.field-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.field-title.green {
  color: #3b3;
}
.field-title.blue {
  color: #3a84d2;
}
.field-title.purple {
  color: #9922ea;
}
.field-title small {
  color: #445;
  font-family: Oxanium;
  font-weight: 400;
}
.field-value {
  color: #445;
  font-size: 15px;
  font-family: Oxanium;
  margin-top: 4px;
}
.field-values {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
}
.field-values > div {
  width: 100%;
}
.field-values .field-value-row {
  display: flex;
  justify-content: space-between;
}
.field-values .field-value-row span:last-child {
  color: #445;
  font-size: 15px;
  font-family: Oxanium;
}
.field-values .field-value-icon .icon {
  width: 16px;
  height: 16px;
}
.field-values .field-value-icon.check .icon {
  color: #2ad945;
}
.field-values .field-value-icon.cross .icon {
  color: #d92a2a;
}
.field-progress-bar {
  display: flex;
  height: 5px;
  position: relative;
  margin: 15px 0;
  background: #ddd;
  border-radius: 5px;
}
.field-progress-bar div {
  display: inline-block;
  height: 100%;
  border-radius: 5px;
}
.field-progress-bar span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 19px;
  border-radius: 50px;
  font-size: 12px;
  padding: 0 10px;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  margin-top: -1px;
}
.field-progress-bar.blue div,
.field-progress-bar.blue span {
  background: #3a84d2;
}
.field-progress-bar.purple div,
.field-progress-bar.purple span {
  background: #9922ea;
}
.field-progress-bar.red div,
.field-progress-bar.red span {
  background: #d50000;
}
.field-progress-bar.purple.pulse div {
  animation: progressbar-purple-pulse 0.6s infinite;
}
.field-progress-bar.purple.pulse span {
  transform: translate(0%, -50%);
  right: -10px;
  left: auto !important;
}
@-moz-keyframes progressbar-purple-pulse {
  from {
    box-shadow: 0 0 0 0px #9922ea;
  }
  to {
    box-shadow: 0 0 0 7px rgba(153,34,234,0);
  }
}
@-webkit-keyframes progressbar-purple-pulse {
  from {
    box-shadow: 0 0 0 0px #9922ea;
  }
  to {
    box-shadow: 0 0 0 7px rgba(153,34,234,0);
  }
}
@-o-keyframes progressbar-purple-pulse {
  from {
    box-shadow: 0 0 0 0px #9922ea;
  }
  to {
    box-shadow: 0 0 0 7px rgba(153,34,234,0);
  }
}
@keyframes progressbar-purple-pulse {
  from {
    box-shadow: 0 0 0 0px #9922ea;
  }
  to {
    box-shadow: 0 0 0 7px rgba(153,34,234,0);
  }
}
.empty {
  text-align: center;
}
.empty .icon {
  width: 100px;
  height: 100px;
  color: rgba(0,0,0,0.133);
}
.user-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px;
  background: url("../img/color-triangles-contrast-bg.jpg");
  box-shadow: inset 0 -50px 70px #fff;
  background-size: cover;
  background-position-y: -20%;
  background-repeat: no-repeat;
  background-color: #fff;
  height: 80px;
  animation: show-top-background 2s;
  animation-fill-mode: forwards;
}
.user-name span {
  font-size: 22px;
  font-weight: 600;
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.user-name a {
  font-size: 0;
  box-shadow: 0 1px 2px rgba(51,51,68,0.267);
  border-radius: 4px;
  white-space: nowrap;
  background: #fff;
}
.user-name .icon {
  width: 40px;
  height: 40px;
  padding: 9px;
  color: #778;
}
.user-name .icon-angle-left {
  width: 30px;
  margin-right: -15px;
}
@-moz-keyframes show-top-background {
  0% {
    background-position-y: -20%;
  }
  100% {
    background-position-y: 50%;
  }
}
@-webkit-keyframes show-top-background {
  0% {
    background-position-y: -20%;
  }
  100% {
    background-position-y: 50%;
  }
}
@-o-keyframes show-top-background {
  0% {
    background-position-y: -20%;
  }
  100% {
    background-position-y: 50%;
  }
}
@keyframes show-top-background {
  0% {
    background-position-y: -20%;
  }
  100% {
    background-position-y: 50%;
  }
}
.tabs {
  height: calc(100% - 80px);
}
.user-penality {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 20px;
  position: relative;
  margin: 0 5px 0 20px;
}
.user-penality[data-level="0"] {
  background: #3d6;
}
.user-penality[data-level="1"] {
  background: #fd0;
}
.user-penality[data-level="2"] {
  background: #f80;
}
.user-penality[data-level="3"] {
  background: #e11;
}
.user-penality[data-level="4"] {
  background: #e11;
}
.user-penality[data-level="4"]::before {
  content: '칑';
  color: rgba(100,0,0,0.5);
  width: 100%;
  height: 100%;
  line-height: 18px;
  display: inline-block;
  text-align: center;
  font-size: 23px;
  font-weight: 900;
}
