@require 'blocks/main.styl';

html {
    background-color: #2b323c;
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0.95) translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    animation: show .6s .2s;
    animation-fill-mode: forwards;
}

span {
    font-size: 210px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 0 #f0f, -3px 0 #0ff;
}

@keyframes show {
    0% { 
        opacity: 0; 
        transform: scale(0.95) translate(-50%, -50%);
    }
    100% {
        opacity: 1; 
        transform: scale(1) translate(-50%, -50%);
    }
}