@require 'blocks/main.styl';
@require 'blocks/icon.styl';
@require 'blocks/tabs.styl';

html {
    background: #f5f5f5;
}
body {
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #334;
    overflow: hidden;
}

.user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;

    span {
        font-size: 22px;
        font-weight: 600;

        &::before {
            content: '@';
        }
    }

    a {
        font-size: 0;
        outline: 1px solid #ddd;
        border-radius: 4px;
    }

    img.icon {
        width: 40px;
        min-width: 40px;
        height: 40px;
        padding: 10px;
        opacity: .3;
    }
}

.user-penality {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 20px;
    position: relative;

    &[data-level="0"] { background: #3d6; }
    &[data-level="1"] { background: #fd0; }
    &[data-level="2"] { background: #f80; }
    &[data-level="3"] { background: #e11; }
    &[data-level="4"] { background: #e11;

        &::before{ 
            content: '×';
            color: rgba(100,0,0,.5);
            width: 100%;
            height: 100%;
            line-height: 18px;
            display: inline-block;
            text-align: center;
            font-size: 23px;
            font-weight: 900;
        }
    }
}

.fields {
    display: flex;
    flex-wrap: wrap;
}

.field {
    width: 100%;
    margin-top: 15px;
    color: #334;

    &:first-child {
        margin-top: 0;
    }

    &.half {
        width: 50%;
    }
}

.field-separator {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.field-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    &.green {
        color: #3b3;
    }
    &.blue {
        color: #3a84d2;
    }
    &.purple {
        color: #9922ea;
    }

    small {
        color: #445;
        font-family: Oxanium; 
        font-weight: 400;
    }
}
.field-value {
    color: #445;
    font-size: 15px; 
    font-family: Oxanium; 
    margin-top: 4px;
}

.field-progress-bar {
    display: flex;
    height: 5px;
    position: relative;
    margin: 15px 0;
    background: #ddd;
    border-radius: 5px;

    div {
        display: inline-block;
        height: 100%;
        border-radius: 5px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 20px;
        border-radius: 50px;
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
    }

    &.blue {
        div, span { background: #3a84d2; }
    }

    &.purple {
        div, span { background: #9922ea; }
    }
}